/*
    ========================
            Colors
    ========================
*/
$white: #ffffff;
$light: #fcfcfc;
$light-grey: #eaebef;
$grey: #748090;
$dark-grey: #2e394b;
$dark: #1e2329;
$light-blue: #e4eaff;
$blue: #2c50ee;
$dark-blue: #2544d8;
$yellow: #f9c72d;
$orange: #e96439;
$pink: #e5115e;
$green: #28c06d;
